/* font-family: 'Alumni Sans', sans-serif; */

* {
    border: 0;
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
}

h1 {
    margin: 1rem;
    font-size: 4em;
}

h3 {
    margin: 10px 6px;
    border: 10px;
    border-color: blue;
    font-size: 2rem;
}

.button {
    font-size: 40px;
    width: 20vh;
    height: 10vh;
    color:blueviolet;
}
